{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}

<!-- Filtered Area -->
<div class="px-xl-5 px-lg-4 px-3 py-2 page-header">
    <ol class="breadcrumb mb-0 bg-transparent">
        <li class="breadcrumb-item"><a href="#" title="home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page" title="Items category List">category</li>
    </ol>
    <ul class="list-unstyled action d-flex align-items-center mb-0">
        <li class="dropdown">
            <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <svg class="svg-stroke" xmlns="http://www.w3.org/2000/svg" width="22" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
                    <path d="M9 12l6 0"></path>
                    <path d="M12 9l0 6"></path>
                </svg>
            </a>
            <ul class="dropdown-menu dropdown-menu-end p-2 p-xl-3 shadow rounded-4">
                <li><a class="dropdown-item rounded-pill" href="#">New folder</a></li>
                <li><a class="dropdown-item rounded-pill" href="#">File upload</a></li>
                <li><a class="dropdown-item rounded-pill" href="#">Google docs</a></li>
                <li><a class="dropdown-item rounded-pill" href="#">Google sheets</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item rounded-pill" href="#">+ Invite</a></li>
                <li><a class="dropdown-item rounded-pill" href="#">Generate report</a></li>
                <li><a class="dropdown-item rounded-pill" href="#">New Reports</a></li>
            </ul>
        </li>
        <li class="dropdown ms-3">
            <a href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                <svg class="svg-stroke" xmlns="http://www.w3.org/2000/svg" width="22" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z"></path>
                </svg>
            </a>
            <div class="dropdown-menu dropdown-menu-end p-2 p-xl-3 shadow rounded-4" style="width: 300px;">
                <h6>Filter Options</h6>
                <div class="row g-3 mt-3">
                    <div class="col-12">
                        <label class="form-label small text-muted">Sorted by:</label>
                        <input type="search" class="form-control" placeholder="Search">
                    </div>
                    <div class="col-12">
                        <label class="form-label small text-muted">Status:</label>
                        <select class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label class="form-label small text-muted">Notifications:</label>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch">
                            <label class="form-check-label">Enabled</label>
                        </div>
                    </div>
                    <div class="col-12 text-end mt-4">
                        <button type="reset" class="btn btn-sm btn-light me-1">Reset</button>
                        <button type="submit" class="btn btn-sm btn-primary">Apply</button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>


<!-- Main Area -->
<div class="px-xl-5 px-lg-4 px-3 py-3 page-body">
    <div class="row g-3">
        <div class="col-sm-12">
            <div class="d-flex align-items-center justify-content-between flex-wrap">
                <h3 class="fw-bold mb-0">category List</h3>
                <div class="col-auto d-flex w-sm-100">
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#add-items">Add category</button>
                </div>
            </div>
      </div>
      <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <table class="table dataTable align-middle table-hover table-body" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Name</th>
                                <th>Slug</th>
                                <th>Created</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ category.name }}</td>
                                <td>{{ category.slug }}</td>
                                <td>{{ category.created|date:"Y-m-d H:i" }}</td>
                                <td>                                    
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-confirmation-{{ category.id }}">
                                        <i class="bi bi-trash"></i> Delete
                                    </button>

                                    <!-- Edit Button with Unique Modal Target -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit-items-{{ category.id }}">
                                        <i class="bi bi-pencil-square"></i> Terms
                                    </button>
                                </td>
                            </tr>
                            
                            <!-- Delete Confirmation Modal -->
                            <div class="modal fade" id="delete-confirmation-{{ category.id }}" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Confirm Deletion</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete <b>{{ category.name }}</b>?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <form method="post" action="{% url 'App_Inventory:category_delete' category.pk %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Edit category Modal (Unique for each category) -->
                            <div class="modal fade" id="edit-items-{{ category.id }}" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5">Edit category</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>

                                        <div class="modal-body">
                                            <form method="post" id="edit-form-{{ category.id }}" action="{% url 'App_Inventory:category_edit' category.id %}">
                                                {% csrf_token %}
                                                <div class="form-group mb-3">
                                                    <label class="form-label text-muted" for="edit_name_{{ category.id }}">Name</label>
                                                    <input type="text" class="form-control" name="name" id="edit_name_{{ category.id }}" value="{{ category.name }}" required>
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label class="form-label text-muted" for="edit_slug_{{ category.id }}">Slug</label>
                                                    <input type="text" class="form-control" name="slug" id="edit_slug_{{ category.id }}" value="{{ category.slug }}" required>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">No categorys found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
      </div>
    </div>
</div>

<!-- Add category-->
<div class="modal fade" id="add-items" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Add category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form method="post" action="{% url 'App_Inventory:category_add' %}">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label class="form-label text-muted" for="id_name">Name</label>
                        <input type="text" class="form-control" name="name" id="id_name" placeholder="" required>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label text-muted" for="id_slug">Slug</label>
                        <input type="text" class="form-control" name="slug" id="id_slug" placeholder="" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function() {
        $('.dataTable').DataTable();
    });
</script>

{% endblock %}